// 色
$white: #fff;
$text: #3e2f23;
$main: #b88c66;
$main-light: #faf4ed;
$main-border: #cdc8c1;
$main-bg: #fffcf9;
$accent: #d4a373;

// フォント
$font-family: "Quicksand", "Noto Sans JP", sans-serif;

// フォントサイズ
$font-xs: 12px;
$font-sm: 14px;
$font-base: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 24px;

// 行間
$line-xs: 1;
$line-sm: 1.2;
$line-base: 1.5;
$line-lg: 1.8;
$line-xl: 2;

// フォントウェイト
$bold: 600;
$normal: 400;
