html {
  height: 100%;
  background: #fffcf9;
  color: #3e2f23;
  font-family: "Quicksand", "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
html.is-fixed {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: #b88c66;
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

.main {
  flex: 1;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 32px 40px 24px;
  }
  .header__logo {
    width: 133px;
    margin: 0;
    transition: opacity 0.7s;
  }
  .header__logo img {
    display: block;
    width: 100%;
    height: auto;
  }
  .header__logo:hover {
    opacity: 0.7;
  }
  .header-button {
    display: none;
  }
  .header-nav {
    display: flex !important;
  }
  .header-nav__list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .header-nav__link {
    position: relative;
    padding-bottom: 8px;
    transition: color 0.3s;
    color: #3e2f23;
    font-size: 16px;
    font-weight: 600;
  }
  .header-nav__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    border-radius: 100vh;
    background-color: #b88c66;
  }
  .header-nav__link:hover {
    color: #b88c66;
  }
  .header-nav__link:hover::before {
    width: 100%;
  }
}
@media screen and (width <= 767px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
  }
  .header__logo {
    z-index: 4;
    width: 120px;
    margin: 0;
  }
  .header__logo img {
    display: block;
    width: 100%;
    height: auto;
  }
  .header-button {
    position: relative;
    z-index: 4;
    width: 32px;
    height: 24px;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 0;
  }
  .header-button::before, .header-button::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    transition: 0.3s all;
    border-radius: 100vh;
    background: #3e2f23;
  }
  .header-button::before {
    top: 0;
  }
  .is-open.header-button::before {
    top: 12px;
    transform: rotate(45deg);
  }
  .header-button::after {
    bottom: 0;
  }
  .is-open.header-button::after {
    bottom: 11px;
    transform: rotate(-45deg);
  }
  .header-button span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: translateY(-50%);
    background: #3e2f23;
  }
  .is-open.header-button span {
    opacity: 0;
  }
  .header-nav {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100svh;
    padding: 120px 20px 80px;
    transform: translateX(100%);
    transition: 0.3s all;
    background: #fffcf9;
  }
  .header-nav.is-open {
    transform: translateX(0);
  }
  .header-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .header-nav__link {
    position: relative;
    transition: color 0.3s;
    color: #3e2f23;
    font-size: 16px;
    font-weight: 600;
  }
  .header-nav__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 100vh;
    background-color: #b88c66;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    background-color: #faf4ed;
  }
  .footer__inner {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    gap: 40px;
  }
  .footer__link {
    transition: opacity 0.3s;
  }
  .footer__link:hover {
    opacity: 0.7;
  }
  .footer__copyright {
    padding: 8px;
    background: #b88c66;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
  }
  .footer-nav {
    margin-bottom: 24px;
  }
  .footer-nav__list {
    display: flex;
    gap: 40px;
  }
  .footer-nav__link {
    position: relative;
    padding-bottom: 8px;
    transition: color 0.3s;
    color: #3e2f23;
    font-weight: 600;
  }
  .footer-nav__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    border-radius: 100vh;
    background-color: #b88c66;
  }
  .footer-nav__link:hover {
    color: #b88c66;
  }
  .footer-nav__link:hover::before {
    width: 100%;
  }
  .footer-sns {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .footer-sns__link {
    transition: opacity 0.3s;
  }
  .footer-sns__link:hover {
    opacity: 0.7;
  }
}
@media screen and (width <= 767px) {
  .footer {
    background-color: #faf4ed;
  }
  .footer__inner {
    padding: 32px 20px;
  }
  .footer__logo {
    margin-bottom: 24px;
    text-align: center;
  }
  .footer__copyright {
    padding: 8px;
    background: #b88c66;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
  }
  .footer-nav {
    margin-bottom: 20px;
  }
  .footer-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .footer-nav__link {
    position: relative;
    padding-bottom: 8px;
    color: #3e2f23;
    font-weight: 600;
  }
  .footer-nav__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 100vh;
    background-color: #b88c66;
  }
  .footer-sns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .button-primary {
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    min-width: 260px;
    padding: 12px 24px;
    border: 0;
    border-radius: 40px;
    background-color: #b88c66;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }
  .button-primary--arrow-right::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    transition: right 0.3s;
    background: url("../images/common/ico_arrow_right.svg") no-repeat;
  }
  .button-primary--arrow-left::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    transition: left 0.3s;
    background: url("../images/common/ico_arrow_left.svg") no-repeat;
  }
  .button-primary--arrow-right:hover::before {
    right: 16px;
  }
  .button-primary--arrow-left:hover::before {
    left: 16px;
  }
  .button-box {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
@media screen and (width <= 767px) {
  .button-primary {
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    min-width: 260px;
    padding: 12px 24px;
    border: 0;
    border-radius: 40px;
    background-color: #b88c66;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }
  .button-primary--arrow-right::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    transition: right 0.3s;
    background: url("../images/common/ico_arrow_right.svg") no-repeat;
  }
  .button-primary--arrow-left::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    transition: left 0.3s;
    background: url("../images/common/ico_arrow_left.svg") no-repeat;
  }
  .button-box {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-block: 0 40px;
    font-size: 16px;
    font-weight: 400;
  }
  .heading::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/common/ico_coffee.svg") no-repeat center/contain;
  }
  .heading span {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
  }
}
@media screen and (width <= 767px) {
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-block: 0 32px;
    font-size: 16px;
    font-weight: 400;
  }
  .heading::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/common/ico_coffee.svg") no-repeat center/contain;
  }
  .heading span {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
  }
}
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
}
@media screen and (min-width: 768px) {
  .top-loading {
    display: flex;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fffcf9;
  }
  .top-loading__text {
    margin-block: 0 24px;
    font-size: 24px;
    font-weight: 600;
  }
  .top-loading__box {
    display: flex;
    gap: 24px;
  }
  .top-hero {
    position: relative;
    height: calc(100vh - 98px);
    min-height: 520px;
  }
  .top-hero__logo {
    position: absolute;
    z-index: 2;
    top: calc(50% - 20px);
    left: 50%;
    width: 240px;
    margin-block: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .top-hero__logo img {
    width: 100%;
    height: auto;
  }
  .top-hero__text-box {
    position: absolute;
    z-index: 2;
    bottom: 60px;
    left: 120px;
    opacity: 0;
    color: #fff;
  }
  .top-hero__heading {
    margin-block: 0 8px;
    font-size: 24px;
  }
  .top-hero__text {
    margin: 0;
  }
  .top-hero__slider {
    height: 100%;
  }
  .top-hero__image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .top-hero__image::before {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    background: rgba(62, 47, 35, 0.3);
  }
  .top-hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .top-hero__pagination.swiper-pagination-bullets {
    display: flex;
    position: absolute;
    z-index: 1;
    right: 40px;
    bottom: 20px;
    left: auto;
    width: auto;
    overflow: hidden;
    border-radius: 100vh;
    opacity: 0.8;
  }
  .top-hero__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 80px;
    height: 4px;
    margin-inline: 0;
    transition: background-color 0.3s;
    border-radius: 0;
    opacity: 1;
    background: #faf4ed;
  }
  .top-hero__pagination.swiper-pagination-bullets .swiper-pagination-bullet:hover {
    background-color: #b88c66;
  }
  .top-hero__pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #b88c66;
  }
  .top-hero__control {
    position: absolute;
    z-index: 1;
    right: 40px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.8;
    background: transparent;
    font-size: 0;
  }
  .top-hero__control:hover {
    opacity: 0.5;
  }
  .top-hero__control::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-image: url("../images/common/ico_pause.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .is-pause.top-hero__control::before {
    background-image: url("../images/common/ico_play.svg");
  }
  .top-hero__scroll {
    position: absolute;
    z-index: 1;
    bottom: 140px;
    left: 40px;
    opacity: 0.8;
    color: #fff;
    writing-mode: vertical-rl;
  }
  .top-hero__scroll::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -115px;
    left: 0;
    width: 1px;
    height: 100px;
    margin: auto;
    animation: scroll 3s infinite;
    background-color: #fff;
  }
  .top-about {
    padding-block: 80px;
  }
  .top-about__inner {
    display: flex;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 40px;
    gap: 64px;
  }
  .top-about__image {
    flex-shrink: 0;
    width: 355px;
    height: 355px;
    overflow: hidden;
    border-radius: 16px;
  }
  .top-about__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .top-about__text {
    margin-block: 0 16px;
  }
  .top-about__button-box {
    margin-top: 32px;
  }
  .top-section {
    padding-block: 80px;
  }
  .top-section--bg {
    background-color: #faf4ed;
  }
  .top-section__inner {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 40px;
  }
  .top-access {
    padding: 0 40px 80px;
  }
  .top-access__inner {
    padding: 40px;
    border-radius: 32px;
    background: #fff;
  }
  .top-access__map {
    width: 40%;
    max-width: 355px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 16px;
  }
  .top-access__box {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 40px;
    gap: 40px;
  }
  .top-access__content {
    flex: 1;
  }
  .top-access-list {
    margin-block: 0;
  }
  .top-access-list__block {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #cdc8c1;
  }
  .top-access-list__block:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .top-access-list__title {
    margin-bottom: 12px;
    font-weight: 600;
  }
  .top-access-list__data {
    margin-left: 0;
    line-height: 1.8;
  }
}
@media screen and (width <= 767px) {
  .top-loading {
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fffcf9;
  }
  .top-loading__text {
    margin-block: 0 24px;
    font-size: 24px;
    font-weight: 600;
  }
  .top-loading__box {
    display: flex;
    gap: 24px;
  }
  .top-hero {
    position: relative;
    height: calc(100svh - 78px);
    min-height: 500px;
  }
  .top-hero__logo {
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 50%;
    width: 200px;
    margin-block: 0;
    transform: translateX(-50%);
    opacity: 0;
  }
  .top-hero__logo img {
    width: 100%;
    height: auto;
  }
  .top-hero__text-box {
    position: absolute;
    z-index: 2;
    top: calc(50% - 40px);
    left: 50%;
    box-sizing: border-box;
    width: 100%;
    margin-inline: auto;
    padding-inline: 40px;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #fff;
  }
  .top-hero__heading {
    margin-block: 0 8px;
    font-size: 18px;
  }
  .top-hero__text {
    margin: 0;
    font-size: 14px;
  }
  .top-hero__slider {
    height: 100%;
  }
  .top-hero__image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .top-hero__image::before {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    background: rgba(62, 47, 35, 0.3);
  }
  .top-hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .top-hero__pagination.swiper-pagination-bullets {
    display: flex;
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 20px;
    left: auto;
    width: auto;
    overflow: hidden;
    border-radius: 100vh;
    opacity: 0.8;
  }
  .top-hero__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 80px;
    height: 4px;
    margin-inline: 0;
    border-radius: 0;
    opacity: 1;
    background: #faf4ed;
  }
  .top-hero__pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #b88c66;
  }
  .top-hero__control {
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.8;
    background: transparent;
    font-size: 0;
  }
  .top-hero__control::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-image: url("../images/common/ico_pause.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .is-pause.top-hero__control::before {
    background-image: url("../images/common/ico_play.svg");
  }
  .top-hero__scroll {
    position: absolute;
    z-index: 1;
    bottom: 120px;
    left: 20px;
    opacity: 0.8;
    color: #fff;
    writing-mode: vertical-rl;
  }
  .top-hero__scroll::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -95px;
    left: 0;
    width: 1px;
    height: 80px;
    margin: auto;
    animation: scroll 3s infinite;
    background-color: #fff;
  }
  .top-about {
    padding: 64px 20px;
  }
  .top-about__image {
    width: 100%;
    max-width: 355px;
    margin: 0 auto 24px;
    overflow: hidden;
    border-radius: 16px;
    aspect-ratio: 1/1;
  }
  .top-about__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .top-about__text {
    margin-block: 0 16px;
  }
  .top-about__button-box {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
  .top-section {
    padding: 64px 20px;
  }
  .top-section--bg {
    background-color: #faf4ed;
  }
  .top-access {
    padding: 0 20px 64px;
  }
  .top-access__inner {
    padding: 40px 20px;
    border-radius: 32px;
    background: #fff;
  }
  .top-access__map {
    max-width: 355px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 16px;
    aspect-ratio: 1/1;
  }
  .top-access-list {
    margin-block: 0;
  }
  .top-access-list__block {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #cdc8c1;
  }
  .top-access-list__block:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .top-access-list__title {
    margin-bottom: 12px;
    font-weight: 600;
  }
  .top-access-list__data {
    margin-left: 0;
    line-height: 1.8;
  }
}
@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .menu-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    overflow: hidden;
    border-radius: 8px;
    background: #fff;
    text-align: center;
  }
  .menu-list__image {
    width: 100%;
    height: 206px;
  }
  .menu-list__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .menu-list__text-box {
    padding: 12px;
    font-weight: 600;
  }
  .menu-list__title {
    margin-block: 0 2px;
  }
  .menu-list__price {
    margin: 0;
  }
}
@media screen and (width <= 767px) {
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  .menu-list__item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    overflow: hidden;
    border-radius: 8px;
    background: #fff;
    text-align: center;
  }
  .menu-list__image {
    width: 100%;
    height: 206px;
  }
  .menu-list__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .menu-list__text-box {
    padding: 12px;
    font-weight: 600;
  }
  .menu-list__title {
    margin-block: 0 2px;
  }
  .menu-list__price {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .news {
    box-sizing: border-box;
    max-width: 1000px;
    margin-inline: auto;
    padding: 32px 40px 80px;
  }
  .news-tag {
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    width: 160px;
    padding: 4px 20px;
    transition: color 0.3s, background 0.3s;
    border: 2px solid #d4a373;
    border-radius: 24px;
    background: #d4a373;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }
  .news-tag--small {
    width: auto;
    padding: 2px 12px;
    font-size: 12px;
  }
  .news-tag:hover {
    background: #fff;
    color: #d4a373;
  }
  .news-category {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-block: 0 40px;
  }
  .news-category__tag {
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    width: 160px;
    padding: 4px 20px;
    transition: color 0.3s, background 0.3s;
    border: 2px solid #d4a373;
    border-radius: 24px;
    background: #fff;
    color: #d4a373;
    font-weight: 600;
    text-align: center;
  }
  .news-category__tag[aria-current=page] {
    background: #d4a373;
    color: #fff;
  }
  .news-category__tag:hover {
    background: #d4a373;
    color: #fff;
  }
  .news-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .news-list__item {
    display: flex;
    padding: 24px;
    border-radius: 16px;
    background: #fff;
    gap: 32px;
  }
  .news-list__image {
    flex-shrink: 0;
    width: 280px;
    height: 210px;
    overflow: hidden;
    border-radius: 8px;
  }
  .news-list__image img {
    width: 100%;
    height: 100%;
    transition: 0.3s all;
    object-fit: cover;
  }
  .news-list__image:hover img {
    transform: scale(1.15);
  }
  .news-list__content {
    flex: 1;
  }
  .news-list__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 8px;
  }
  .news-list__date {
    margin-block: 0;
  }
  .news-list__tag {
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 12px;
    transition: color 0.3s, background 0.3s;
    border: 2px solid #b88c66;
    border-radius: 24px;
    background: #b88c66;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
  }
  .news-list__tag:hover {
    background: #fff;
    color: #b88c66;
  }
  .news-list__title {
    display: -webkit-box;
    overflow: hidden;
    transition: color 0.3s;
    color: #3e2f23;
    font-weight: 600;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
  .news-list__title:hover {
    color: #b88c66;
  }
}
@media screen and (width <= 767px) {
  .news {
    padding: 24px 20px 64px;
  }
  .news-tag {
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    width: 110px;
    padding: 3px 16px;
    transition: color 0.3s, background 0.3s;
    border: 2px solid #d4a373;
    border-radius: 24px;
    background: #d4a373;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  .news-tag--small {
    width: auto;
    padding: 2px 12px;
    font-size: 12px;
  }
  .news-category {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
    justify-content: center;
    margin-block: 0 32px;
  }
  .news-category__tag {
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    width: 110px;
    padding: 3px 16px;
    transition: color 0.3s, background 0.3s;
    border: 2px solid #d4a373;
    border-radius: 24px;
    background: #fff;
    color: #d4a373;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  .news-category__tag[aria-current=page] {
    background: #d4a373;
    color: #fff;
  }
  .news-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .news-list__item {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    border-radius: 16px;
    background: #fff;
    gap: 16px 24px;
  }
  .news-list__image {
    display: block;
    flex: 1;
    flex-shrink: 0;
    min-width: 240px;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 4/3;
  }
  .news-list__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .news-list__content {
    flex: 1;
    min-width: 220px;
  }
  .news-list__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 8px;
  }
  .news-list__date {
    margin-block: 0;
  }
  .news-list__tag {
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 12px;
    border: 2px solid #b88c66;
    border-radius: 24px;
    background: #b88c66;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
  }
  .news-list__title {
    display: -webkit-box;
    overflow: hidden;
    color: #3e2f23;
    font-weight: 600;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}
@media screen and (min-width: 768px) {
  .news-detail {
    padding: 64px;
    border-radius: 16px;
    background: #fff;
  }
  .news-detail__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    gap: 16px;
  }
  .news-detail__date {
    margin-block: 0;
    font-weight: 600;
  }
  .news-detail__title {
    margin-block: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .news-detail__image {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 32px;
  }
  .news-detail__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .news-detail__text {
    margin-block: 0 16px;
  }
  .news-detail__text:last-child {
    margin-bottom: 0;
  }
}
@media screen and (width <= 767px) {
  .news-detail {
    padding: 40px 24px;
    border-radius: 16px;
    background: #fff;
  }
  .news-detail__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 12px;
  }
  .news-detail__date {
    margin-block: 0;
    font-weight: 600;
  }
  .news-detail__title {
    margin-block: 0;
    font-size: 18px;
    font-weight: 600;
  }
  .news-detail__image {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 24px;
  }
  .news-detail__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .news-detail__text {
    margin-block: 0 16px;
  }
  .news-detail__text:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .about {
    box-sizing: border-box;
    max-width: 1000px;
    margin-inline: auto;
    padding: 40px 40px 80px;
  }
  .about-list {
    display: flex;
    gap: 64px;
    flex-direction: column;
  }
  .about-list__item {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .about-list__item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .about-list__title-box {
    position: relative;
    margin-bottom: 24px;
  }
  .about-list__number {
    opacity: 0.4;
    color: #d4a373;
    font-size: 100px;
    font-weight: 600;
    line-height: 1;
  }
  .about-list__title {
    position: absolute;
    bottom: 20px;
    left: 32px;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
  }
  .about-list__text {
    margin-block: 0;
    line-height: 2;
  }
  .about-list__image {
    flex-shrink: 0;
    width: 40%;
    overflow: hidden;
    border-radius: 16px;
    aspect-ratio: 4/3;
  }
  .about-list__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (width <= 767px) {
  .about {
    padding: 24px 20px 64px;
  }
  .about-list {
    display: flex;
    gap: 48px;
    flex-direction: column;
  }
  .about-list__title-box {
    position: relative;
    margin-bottom: 16px;
  }
  .about-list__number {
    opacity: 0.4;
    color: #d4a373;
    font-size: 90px;
    font-weight: 600;
    line-height: 1;
  }
  .about-list__title {
    position: absolute;
    bottom: 20px;
    left: 32px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .about-list__text {
    margin-block: 0 16px;
    line-height: 2;
  }
  .about-list__image {
    max-width: 360px;
    overflow: hidden;
    border-radius: 16px;
    aspect-ratio: 4/3;
  }
  .about-list__item:nth-child(odd) .about-list__image {
    margin-left: auto;
  }
  .about-list__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) {
  .error {
    box-sizing: border-box;
    max-width: 1000px;
    margin-inline: auto;
    padding: 40px 40px 80px;
  }
  .error__title {
    margin-block: 0 24px;
    font-weight: 600;
    text-align: center;
  }
  .error__text {
    margin-block: 0;
    text-align: center;
  }
}
@media screen and (width <= 767px) {
  .error {
    padding: 24px 20px 64px;
  }
  .error__title {
    margin-block: 0 24px;
    font-weight: 600;
    text-align: center;
  }
  .error__text {
    margin-block: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
