@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;
@use "../abstracts/function" as *;

@include md-pc {
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .nav-links {
      display: flex;
      gap: 20px;
    }

    .page-numbers {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      transition: color 0.3s, background-color 0.3s;
      border-radius: 50%;
      color: $main;
      font-size: $font-base;
      font-weight: $bold;

      &:hover {
        background-color: $main;
        color: $white;
      }

      &.current {
        position: relative;
        background-color: $main;
        color: $white;
      }

      &.prev,
      &.next {
        position: relative;
        border: 2px solid $main;
        font-size: 0;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: calc(50% - 1px);
          width: 20px;
          height: 20px;
          transform: translate(-50%, -50%);
          transition: background-color 0.3s;
          background-color: $main;
          mask: image-url("common/ico_arrow_left.svg") no-repeat center /
            contain;
        }

        &:hover {
          &::before {
            background-color: $white;
          }
        }
      }

      &.next {
        transform: scale(-1, 1);
      }
    }
  }
}

@include md-sp {
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .nav-links {
      display: flex;
      gap: 16px;
    }

    .page-numbers {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      color: $main;
      font-size: $font-base;
      font-weight: $bold;

      &.current {
        position: relative;
        background-color: $main;
        color: $white;
      }

      &.prev,
      &.next {
        position: relative;
        border: 2px solid $main;
        font-size: 0;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: calc(50% - 1px);
          width: 20px;
          height: 20px;
          transform: translate(-50%, -50%);
          background-color: $main;
          mask: image-url("common/ico_arrow_left.svg") no-repeat center /
            contain;
        }
      }

      &.next {
        transform: scale(-1, 1);
      }
    }
  }
}
